body, html {
    background-color: black;
}

.login-container {
    display: flex;
    justify-content: center;
}

.inlog-form {
    background-color: white;
    border: 7.5px solid cadetblue;
    border-radius: 30px;
    font-family: "Arial Rounded MT Bold";
    margin-top: 30px;
    width: 400px;
}

.text {
    text-align: center;
}
.reset-text {
    text-align: center;
}
.logo-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.form-group {
    display: block;
    margin: 10px 10px;
    
    text-align: center;
    }

figure{
    width:300px;
    overflow:hidden;
    margin:0;
}
figure img{
    display:inline-block;
    width:70%;
}